doctype html

html(lang="en")
  head
    title="Pineapple Club"
    meta(name="google-site-verification", content="NtzdEuPKDVSmYCyX4rWinbQER6YkqS8F5e0fWNgtTsg")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='styles/custom-bootstrap.css')
    link(rel='stylesheet', href='styles/offcanvas.css')
    link(rel='stylesheet', href='styles/ngProgress.css')
  body
    div(ng-controller="ProgressBarController")
    div.container
      div.row.row-offcanvas.row-offcanvas-right
        div.col-xs-12.col-sm-12
          div(ng-include="'/views/navigator.html'")
          div(ng-include="'/views/header.html'")
          div(ng-view)          
          #cp_widget_6ad5aca0-ee04-48fc-8525-b7b049da1600(pcd-active-by-route, style="display: none;", ng-show="isVisible") ...
          script(type='text/javascript').
            var cpo = []; cpo["_object"] = "cp_widget_6ad5aca0-ee04-48fc-8525-b7b049da1600"; cpo["_fid"] = "AIDAh8bXrWqO";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
              var cp = document.createElement("script"); cp.type = "text/javascript";
              cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
              var c = document.getElementsByTagName("script")[0];
              c.parentNode.insertBefore(cp, c);
            })();
        div(ng-include="'/views/side-bar.html'")
      div(ng-include="'/views/footer.html'")
    div.device-xs.visible-xs
    div.device-sm.visible-sm
    div.device-md.visible-md
    div.device-lg.visible-lg
    script(src="scripts/vendors/require.js", data-main=page.environmentScript)    
