<!-- cnp = contact page -->
<div>    
    <div id="lc_location_div" class="col-lg-8">    

        <h2>Location</h2>

        <p>
        We are close to Rockdale train station and behind Bexley Public School. Our location is suitable for families 
        who commute to work by train. With plenty of free street parking, a lot of parents find it convenient that they 
        can drop off their child in the morning and then take a train to work.
        </p>

        <div id="mp_map_canvas" pcd-google-map></div>
    </div>

    <div ng-include="'/views/contact/contact.html'"></div>
</div>
