<!-- cn = contact -->
<div ng-controller="ContactController">
    <div class="col-lg-4">
        
        <h2>Contact Us</h2>

        <table>
            <tbody>
            <tr>
                <td id="cn_image_td" rowspan="2">
                    <img src="/images/phone.png"  alt="phone"/>
                </td>
                <td id="cn_phone_td"> 
                    Phone:                  
                </td>
                <td>    
					<a ng-href="tel:{{item.path}}" ng-bind="companyInfo.contact.phone"></a>
                </td>
            </tr>
            <tr>
                <td> 
                    Mobile:                  
                </td>
                <td>    
                    <span ng-bind="companyInfo.contact.mobile"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="/images/email.png"  alt="email"/>
                </td>
                <td>
                    Email:
                </td>
                <td>
                    <span ng-bind="companyInfo.contact.email"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>    
</div>
