<!-- hm = home -->
<div ng-controller="HomeController"> 
    <div class="row">
        <div class="col-lg-8">
            <h2><img src="/images/welcome.png"  alt="welcome"/>Welcome</h2>
            <p>Pineapple Club Family Day Care is a Family Day Care (FDC) registered with Integricare Family Day Care St George.
            Our FDC is operated by a trained educator who has years of experience in long day care centre with diploma qualification.
            We are approved to administer Child Care Benefit (CCB) and Child Care Rebate (CCR)
            </p>

            <h3>Our FDC key features</h3>
            <p>
                <ul>
                    <li>90% of the space is setup for childcare service</li>
                    <li>Educator is supported by high quality FDC organisation Integricare with every need</li>
                    <li>Children receive more attentions due to a low child-educator ratio. Children will better develop and bond with educator</li>
                    <li>Our diploma qualified educator has years of experience providing care in long day care centre</li>
                    <li>Strong educational programs</li>
                    <li>Activity report is provided to parent on daily basis</li>
                    <li>Live photo of the child is sent to parent via a private mean of communication</li>
                </ul>
            </p>
        </div>

        <div ng-include="'/views/contact.html'"></div>
    </div>  
</div>