<!-- nv = navigator -->
<nav class="navbar navbar-default" role="navigation" ng-controller="NavigatorController">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="#" ng-bind="project.name"></a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="item in menu.items">
                    <a ng-href="{{item.path}}" ng-bind="item.display"></a>
                </li>
            </ul>
        </div>

    </div>

</nav>